/* Sidebar General */
.sidebar-menu {
  position: fixed;
  width: 60%;
  height: 100%;
  background-color: var(--white);
  right: 0;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.hide {
  visibility: hidden;
  -webkit-animation: closeSidebar 0.7s;
  animation: closeSidebar 0.7s;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.visible {
  visibility: visible;
  -webkit-animation: showSidebar 0.7s;
  animation: showSidebar 0.7s;
}

@-webkit-keyframes showSidebar {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes showSidebar {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes closeSidebar {
  from {
    opacity: 1;
    transform: translateX(0%);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes closeSidebar {
  from {
    opacity: 1;
    transform: translateX(0%);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media (max-width: 800px) {
  .sidebar-menu {
    width: 100%;
  }
}

/* Sidebar Components */
.sidebar-menu button {
  width: 40px;
  height: 40px;
  margin-left: auto;
  background: none;
  border-radius: 50%;
  border-color: #333;
  font-weight: 700;
  margin-top: 8px;
  margin-right: 8px;
}

.sidebar-menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.sidebar-menu ul li {
  flex: 1 1;
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.sidebar-menu ul li.active {
  border-bottom: 2px solid #42A5F5;
}